@import url("https://fonts.googleapis.com/css2?family=Belanosima&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Belanosima", sans-serif;
  scroll-behavior: smooth;
}
body {
  height: 100%;
  width: 100%;
  background: #dbeeff;
}
a{
  text-decoration: none;
}

.nav-item-container {
  background-color: #19486c;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0rem;
  justify-content: space-between;
  height: 4rem;
  /*justify-content: center;*/
}
.nav-items {
  font-size: 2rem;
  color: white;
  list-style: none;
  /*border-left: solid white;*/
}
#me{
  border: solid white 1rem;
}
.nav-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  margin: 0;
}

.nav-button:hover {
}
s .top-container {
  height: 100%;
  width: 100%;
}

.first-section {
  min-height: 100vh;
  /*width: 100vw;*/
  max-width: 1920px;
  max-height: fit-content;

  border-bottom: solid white 0.2em;
  width: 90%;
  margin: 10rem auto;
}

.sec-section {
  background-color: #19486c;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-bar {
  width: 100%;
  margin: 1rem auto;
  position: fixed;
}

#title{
  color: white;
  font-size: 5vw;
  background-color: #19486c ;
  border-radius: 10px;
  padding: 1rem;
  width: 100%;
}

.content {
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
#title-styling{
  background: -webkit-linear-gradient(#FFD0F2, #fcc2ec, #fca4e4,#f978d6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#sec1{
  position: relative;
  top: -250px;
}
.paragraphs {
  margin-top: 1rem;
  color:  #19486c;
  font-size: 2rem;
  line-height: 3rem;
  text-align: left;
  border: solid white 4px;
  padding: 1rem;
  border-radius: 10px;
}

.intro-paragraphs {
  margin-top: 1rem;
  color:  #19486c;
  font-size: 2rem;
  line-height: 3rem;
  text-align: left;

  padding: 1rem;
}

.content img {
  width: 35%;
  border-radius: 20%;
}
.fixedElement {
  z-index: 100;
  position: fixed;
  width: 100%;
  left: 0%;
  top: 0;
  transition: width 1s;
  margin: 0 auto;
  /*transition: left 1s linear;*/
}

.intro {
  display: flex;
  align-items: center;
  margin-top: 5rem;
  background-color: #b0d3ed;
  padding: 2rem;
  border-radius: 10px;
  justify-content: space-between;
  overflow: hidden;
}

/*nav button styling*/
.coolBeans {
  border: 2px solid transparent;
  border-radius: 10px;
  color: #19486c;
  font-size: 3rem;
  font-weight: 100;
  overflow: hidden;
  padding: 1rem 1rem;
  position: relative;
  text-decoration: none;
  transition: 0.2s transform ease-in-out;
  will-change: transform;
  z-index: 0;
  &::after {
    background-color: #0b2d49;
    border-radius: 10px;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-100%, 0) rotate(10deg);
    transform-origin: top left;
    transition: 0.2s transform ease-out;
    will-change: transform;
    z-index: -1;
  }
  &:hover::after {
    transform: translate(0, 0);
  }
  &:hover {
    border: 2px solid transparent;
    color: indigo;
    transform: scale(1);
    will-change: transform;
  }
}

#portfolio{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 50vh;
  overflow: auto;
  justify-content: center;


}

#portfolio ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;


                   }
.portfolio-item{
  background-color: #b0d3ed;
  list-style: none;
  min-height: 60rem;
  max-height: 100vh;
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  border-radius: 10px;
  padding: 2rem;;
}
.sec1-img{
  height: 20%;
}


.portfolio-screenshot{
  width: 100%;
}

.portfolio-icons{
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
  justify-content: center;
}

.underline{
  -webkit-transition: all 0.5s ease;
  transition: transform 0.3s ease;
  text-decoration: underline;

}

.skills-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  flex-direction: column;
  border: solid #b0d3ed 1rem;
  padding: 1rem;
  border-radius: 10px;
}
#experience-title{
  margin: 2rem;
  font-size: 3rem;
  color: #19486c;

}

.portfolio-title{
  color: #19486c;
  font-size: 2rem;
}

.third-section{
  background-color: #19486c;
  min-height: 100vh;
  min-width: 100vw;
  border-top: solid white 1rem;
 display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  text-align: center;

}
.skills-grid img{
  margin: 0 auto;
}


.about-me-content{
  display: flex;
  align-items: center;
  background-color: #b0d3ed;
  border-radius: 10px;
  overflow: hidden;
  color:  #19486c;
  font-size: 2rem;
  line-height: 3rem;
  text-align: left;
  margin: 0 auto;
flex-direction: column;
  padding: 1rem;
}

.paragraph-wrapper{
  width: 90%;
}

.sub-page-title{
  margin: 2rem;
  font-size: 3rem;
}

.about-me-img{
  width: 30%;
  border-radius: 10px;
}











@media screen and (max-width: 1000px) {

  .coolBeans{
    padding: 0;
  }
  .portfolio-item{
    margin-top: 3rem;
    padding: 1rem;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .nav-item-container{
    height: 3rem;
  }
  .portfolio-item{
    max-width: 90vw;
  }
  .picture-frame{
    max-width: 90vw;
  }
  #me {
    position: fixed;
    display: none;
  }
#title {
    color: white;
    font-size: 2em;
    width: 100%;
  }
  .intro {
    margin-top: 1em;
  }

  .content p {
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: left;
  }

  .nav-items{
    font-size: 1rem;
    padding: 0;
  }

  .portfolio-item{
    min-height: 70vh;
    min-width: 100vw;

  }
  .paragraphs{
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 1rem;
  }
  .sec-section{
    padding-top:0;
  }
  .first-section{
    margin: 5rem auto;
  }
  .portfolio-icons{
    height: fit-content;
  }
  .icon-img{
    height: 2rem;
  }

  .skills-grid{
    grid-template-columns: 1fr;
    justify-content: center;
  }
  .about-me-content{
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: left;
    height: 100%;
  }
  .about-me-img{
    position: fixed;
    display: none;
  }


}




